.element__heart {
  background: #fff url(../../../images/heart.svg) no-repeat center;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 22px;
  height: 19px;
}

.element__heart:hover {
  /* Если строго по фигме, то в hover state иконка всегда затенена и не активна
    но когда наводим на УЖЕ активную иконку ее картинка меняется и выглядит
    как будто по ненй уже кликнули, что вводит в заблуждение. Поэтому сделал не строго
    по макету, зато интуитивно понятно. Для строгого соответствия расскоментируйте строчку ниже
   */
  /*background: #fff url(../../../images/heart.svg) no-repeat center;*/
  cursor: pointer;
  opacity: .5;
}
