.element__heart {
  background: #fff url(../../../images/heart.svg) no-repeat center;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 22px;
  height: 19px;
}

.element__heart:hover {
  background: #fff url(../../../images/heart_hover.svg) no-repeat center;
  cursor: pointer;
  opacity: .5;
}

.element__heart:active {
  background: #fff url(../../../images/heart_active.svg) no-repeat center;
  opacity: 1;
}
